.footer {
  position: relative;
  background-color: $brown-color;
  padding: 70px 0 20px;
  color: #fff;
  line-height: 24px;

  &-column {
    margin: 0 10px 50px;
  }

  a {
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $jam-color;
    }
  }

  .icon-phone {
    line-height: 24px;

    &::before {
      margin-right: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &::before {
    @include curves-line;
    top: 0px;
  }

  &__phone {
    min-width: 200px;
  }
  &__social {
    min-width: 160px;
  }

  .workflow__item--bold {
    font-weight: 600;
    line-height: 1.8;
  }

  &__workflow-list,
  &__phones-list {
    @include reset-list;
  }

  &__social-list {
    @include horizontal-list(25px, #fff);
  }
}
