html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Cabin, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1305px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@mixin background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin horizontal-list($left-margin, $text-color) {
  @include reset-list;

  li {
    display: inline-block;

    & + li {
      margin-left: $left-margin;
    }
    a {
      color: $text-color;
    }
  }
}

@mixin curves-line {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 23px;
  background: url(../img/pattern.png) scroll repeat top center transparent;
}
