.home-content {
  flex-basis: 100%;
}

.header__bottom {
  position: relative;
  &-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
  }
  &-title,
  &-subtitle {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-family: Pacifico;
  }

  &-title {
    font-size: 45px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ce5937;
    margin-bottom: 15px;
  }
  &-subtitle {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    letter-spacing: 5px;
    background-color: rgba($brown-color, 0.8);
  }
}

.header__logo-img {
  display: block;
  width: 165px;
  margin-right: 40px;
  height: 65px;
  background: url(../../img/cupcake-logo.png) no-repeat;
  background-size: contain;
}

.header__menu-list {
  @include horizontal-list(0, $brown-color);
  font-family: Pacifico;
  width: 100%;
  height: $header-top-height;
  line-height: $header-top-height;
  font-size: 18px;
  text-transform: uppercase;

  li {
    margin-right: -0.3em;
    cursor: pointer;
    a {
      display: block;
      padding: 0 20px;
      transition: color 0.2s;
      text-shadow: 1px 1px 2px #ce5937;
    }
  }

  li:hover {
    background-color: rgba($brown-color, 0.5);
    a {
      color: #fff;
    }
  }
}

.header__cart {
  position: relative;
  display: inline-block;
  padding: 35px;
  margin-left: auto;
  font-size: 21px;
  color: $brown-color;
  transition: color 0.3s;

  &:hover::before {
    color: $jam-color;
  }

  &-count {
    position: absolute;
    top: 11px;
    right: 8px;
    display: block;
    min-width: 10px;
    min-height: 10px;
    padding: 6px 10px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #ea2d68;
  }
}

.header__slider {
  position: relative;
  z-index: 0;
  height: 100vh;

  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 80px;
    transform: translate(0, -50%);
    color: transparent;
    font-size: 0;
    background-color: rgba($brown-color, 0.4);
    border-radius: 0px 20px 20px 0px;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      border: 2px solid #fff;
    }
  }
  .slick-prev::before {
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
    left: 25%;
  }

  .slick-next {
    right: 0;
    border-radius: 20px 0px 0px 20px;
    &::before {
      border-width: 2px 2px 0 0;
      transform: rotate(45deg);
      right: 25%;
    }
  }
}

.slider-item {
  height: 100%;
  @include background-img;
  cursor: grab;
}
