$product-item-margin: 10px;
$lg-row-item-count: 5;
$md-row-item-count: 3;
$sm-row-item-count: 1;

.category {
  margin: 40px 0;
}

.subcategory-title {
  position: relative;
  margin: 20px 0 30px;
  padding: 15px 25px;
  border-radius: 5px;
  font-family: Pacifico;
  font-size: 32px;
  color: #fff;
  letter-spacing: 1.5px;
  box-shadow: 0 3px 4px rgba(108, 111, 115, 0.2);
  cursor: pointer;

  &::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    right: 30px;
    margin: auto;
    border: 2px solid #ab9b9b;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg) translateY(-50%);
    top: 30%;

    transition: border 0.3s;
    transition: transform 0.4s;
  }
  &:hover::after {
    border-color: $jam-color;
  }
  &.shrink::after {
    transform: rotate(45deg) translateX(-50%);
    border-color: $jam-color;
  }
}

.products {
  position: relative;
  padding: 80px 0 30px;
  background-color: #fff;

  &::before {
    @include curves-line;
    top: -21px;
    transform: rotate(180deg);
  }

  &-count {
    margin: 0 auto 10px;
  }

  &-title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Pacifico;
    text-align: center;
    line-height: 54px;
    word-spacing: 10px;
    color: $brown-color;

    &__chocolate {
      background-color: #8c5f4a;
    }
    &__white {
      color: $brown-color;
      background-color: #eadec8;
    }
    &__velvet {
      background-color: #af4b1c;
    }
    &__banana {
      background-color: #f2d845;
    }
    &__lemon {
      color: $brown-color;
      background-color: #effd5f;
    }
    &__strawberry {
      background-color: #ff6a9b;
    }
  }

  &__category {
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 35%;
      margin: auto;
      padding-top: 20px;
      border-bottom: 1px solid $brown-color;
    }
  }

  &-tab {
    padding: 8px 16px;
    color: $brown-color;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;

    &.active {
      background-color: $jam-color;
      color: #fff;
    }
    &__content {
      display: none;

      &:first-child {
        display: initial;
      }
    }
  }

  &__subcategory-list {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    max-height: 3000px;
    transition: max-height 0.6s ease-out;
  }

  .shrink + &__subcategory-list {
    max-height: 0px;
    overflow: hidden;

    .products__item {
      opacity: 0;
    }
  }

  &__item {
    position: relative;
    width: calc(100% / #{$lg-row-item-count} - 2 * #{$product-item-margin});
    min-width: 175px;
    margin: 0 $product-item-margin 30px;
    border: 1px solid rgba($brown-color, 0.3);
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
    opacity: 1;
    transition: opacity 0.8s, border 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      right: 0;
      display: block;
      height: 30px;
      width: 70%;
      background: #fff;
      margin: auto;
    }

    &::before {
      background: url(../../img/ornament.svg) center no-repeat;
      background-size: contain;
      opacity: 0.3;
      transition: opacity 0.3s;
      z-index: 1;
    }

    &:hover {
      border: 1px solid $brown-color;

      &::before {
        opacity: 1;
        background-image: url(../../img/ornament.svg);
      }
      .products__item-count {
        border-color: $brown-color;
      }
      .products__item-buy {
        background-color: $jam-color;
      }
    }

    &-img {
      display: block;
      width: 98%;
      height: 175px;
      margin: 35px auto 25px;
      @include background-img;
    }

    &-descr {
      display: none;
    }

    &-info {
      display: none;
      position: absolute;
      padding: 8px 12px;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
      background-color: #fff;
      border: 1px solid $jam-color;
      color: $brown-color;
    }

    &-head:hover {
      .products__item-img {
        filter: blur(2px);
      }
      .products__item-info {
        display: initial;
      }
    }

    &-rate {
      margin: 10px auto;
    }

    &-number {
      padding: 0 5px;
      border: none;
      font-size: 18px;
      outline: none;
      text-align: center;
    }
    &-currency {
      margin-right: 3px;
      vertical-align: text-top;
    }

    &-count {
      display: block;
      max-width: 110px;
      border: 1px solid rgba($brown-color, 0.3);
      transition: border 0.3s;

      a {
        display: inline-block;
        width: 25px;
        font-family: Arial;
        color: $brown-color;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
      }
    }

    &-buy {
      display: inline-block;
      width: 100%;
      max-width: 110px;
      color: #fff;
      font-weight: 600;
      padding: 14px 13px;
      background-color: rgba($jam-color, 0.3);
      transition: background-color 0.3s;

      .products__item:hover &:hover {
        background-color: #d85880;
      }
    }

    &-price {
      font-size: 24px;
      padding: 10px 5px;
      color: rgba(0, 0, 0, 0.7);
    }

    &-title {
      display: inline-block;
      min-height: 80px;
      margin: 0;
      margin-bottom: 15px;
      padding: 0 17px;
      font-size: 18px;
      color: $brown-color;
    }
  }
}

.product-details {
  border: 1px solid $jam-color;

  .mfp-close {
    font-size: 38px;
  }

  &__popup {
    position: relative;
    background: #fff;
    padding: 30px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
  }

  &__img {
    min-width: 500px;
    height: 512px;
    @include background-img;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    margin-left: 50px;
  }
  &__title {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: $brown-color;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid $jam-color;
    font-size: 28px;
    line-height: 48px;
    font-family: Pacifico;
    letter-spacing: 1.5px;
  }
  &__subtitle {
    position: relative;
    font-size: 30px;
    margin-bottom: 35px;
    color: $jam-color;
  }
  &__price-value {
    font-weight: 600;
  }
  &__rate {
    position: absolute;
    display: inline-block;
    right: 0;
  }
  &__descr {
    font-size: 21px;
  }
  &__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__count {
    max-width: 80px;
    padding: 21px 16px;
    border: 1px solid $brown-color;
    margin-right: 25px;
    font-size: 27px;
    text-align: center;
    color: $jam-color;
  }
  &-buy {
    line-height: 75px;
    padding: 0px 16px;
    text-transform: uppercase;
    background-color: $jam-color;
    font-size: 18px;

    &:hover {
      background-color: #d85880;
    }
  }
}

@media (max-width: 1024px) {
  .products__item {
    width: calc(100% / #{$md-row-item-count} - 2 * #{$product-item-margin});
  }
}

@media (max-width: 900px) {
  .product-details {
    &__popup {
      padding: 1.5em;
    }
    &__img {
      min-width: initial;
      height: 200px;
      background-size: contain;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      margin-left: initial;
    }
    &__title {
      font-size: 18px;
      line-height: 28px;
    }
    &__subtitle {
      position: relative;
      font-size: 18px;
    }
    .jq-ry-group-wrapper svg {
      width: 16px;
      height: 16px;
    }
    &__descr {
      font-size: 1em;
    }
    &__controls {
      position: initial;
    }
  }
}

@media (max-width: 650px) {
  .product-details__controls {
    justify-content: space-between;
  }
  .products__subcategory-list {
    max-height: initial;
  }
  .subcategory-title {
    text-align: left;
    padding: 15px 12px;
    padding-right: 65px;

    &::after {
      right: 10px;
    }
  }

  .products__item {
    width: calc(100% / #{$sm-row-item-count} - 2 * #{$product-item-margin});

    &-img {
      background-size: contain;
    }

    &-title,
    &-count {
      display: block;
    }
    &-title {
      min-height: 30px;
    }
    &-count {
      max-width: 150px;
      margin: 0 auto 20px;
    }
    &-buy {
      max-width: 150px;
    }
  }
}
